<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sharing Notes</title>

</head>
<body>
    <h1>May the 4th be with U</h1>
    <br />

    <form action="/quotes" method="POST">
      <h3>Post your Quote Here</h3>
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Author Name" name="name">  
        <input type="text" placeholder="Type here your quote and click Submit" name="quote">
        
        <br /><br />  
        <button type="submit">Submit</button>
    </form>
    <br />
    <h2>Generate a Quote, choose a path...</h2>
    <div class="buttons-wrap">
      <button id="update-button1" style="background-color: red; color: black;">Dark Side</button>
      <button id="update-button2" style="background-color: lightblue; color: black;">Light Side</button>
    </div>    



    <h2> Quotes </h2>

    <!-- <button id="deleteall">Delete All</button> -->


    
      <ul class="quotes">
      <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
            <li class="quote">
          <div class="quotes-wrap">
            <span>Title: <%= quotes[i].title %></span><br />
            <span>Author: <%= quotes[i].name %></span><br />
            <span>Quote: <%= quotes[i].quote %></span><br />
            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>




            <span><%= quotes[i].date %></span>

            <!-- <button id="update-button">Replace quote</button> -->
            <br />
            <button id="delete-button">Delete quote</button>
            
          </li>
        </div>
        <% } %>
        </ul>

    
    <script>
      function myFunction(x) {
       x.classList.toggle("fa-thumbs-down");
      }
    </script>

        <!-- <script>
          var date = new Date();
          document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
        </script> -->

    <script src="/main.js"></script>
    <br />
    <div class="footer_copyright">
      <p>&copy; 2020 Zack Guerra.</b>. All rights reserved.</p>
  </div>
</body>
</html>